@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: #EEEEEE;
  background: #000000;
    
}


.glowbg {
  border-radius: 32px;
  background: linear-gradient(
    170deg,
    rgb(180 9 236 / 20%) 38.95%,
    rgb(54 9 236 / 20%) 92.27%
  );
  filter: blur(95px);
}
.glow {
  border-radius: 32px;
  background: linear-gradient( 170deg, rgb(17 199 191) 38.95%, rgb(177 2 170 / 20%) 92.27% );
  filter: blur(95px);
}

.btn {
  --x: 0;
  --y: 0;
}

.btn::before {
  content: '';
  position: absolute;
  top: var(--y);
  left: var(--x);
  right: 0;
  bottom: 0;
  transform: translate(-50%, -50%);
  width: 0;
  height: 0;
  /* background: #EEEEEE; */
  border-radius: 50%;
  transition: 0.5s;
}

.btn:hover::before {
  width: 150px;
  height: 150px;
}

.btn span {
  z-index: 10;
}



.hamburger .inputToogle {
  display: none;
}





